################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Midakas Bot/config.json
/Midakas Bot/bin
